/* Общие стили */

/* Сброс стилей для элементов */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Центрирование элементов */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Стиль для кнопок */
button {
    background-color: #007bff;
    color: white;
    padding: 20px 40px; /* Увеличиваем размер кнопок */
    border: 2px solid #007bff; /* Добавляем границу для прямоугольников */
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    text-align: center; /* Центрируем текст внутри кнопки */
}

button:hover {
    background-color: #0056b3;
}

/* Стиль для ссылок */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Стиль для формы */
form {
    margin-top: 20px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 20px 40px; /* Увеличиваем размер кнопок */
    border: 2px solid #28a745; /* Добавляем границу для прямоугольников */
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    text-align: center; /* Центрируем текст внутри кнопки */
}

input[type="submit"]:hover {
    background-color: #218838;
}