<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Crypto currency List</title>
</head>
<body>
<h1>Crypto Currency List</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Symbol</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="currency : ${cryptoCurrencies}">
        <td th:text="${currency.id}"></td>
        <td th:text="${currency.name}"></td>
        <td th:text="${currency.symbol}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>