<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User's personal account</title>


</head>
<h1>Your personal data</h1>
<body>
<table>
    <thead>
    <tr>
        <th>username</th>
        <th>name</th>
        <th>surname</th>
        <th>phone number</th>
        <th>date of birthday</th>
        <th>e-mail</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${loggedUser.username}"></td>
        <td th:text="${loggedUser.name}"></td>
        <td th:text="${loggedUser.surname}"></td>
        <td th:text="${loggedUser.phoneNumber}"></td>
        <td th:text="${loggedUser.dateOfBirth}"></td>
        <td th:text="${loggedUser.email}"></td>
    </tr>
    </tbody>
</table>
<a href="/home">Home page</a>
<a href="/user/wallet">Your wallet</a>
<a href="/user/deals">Your transaction history</a>
<a href="/user/cryptoCurrencyList">Crypto rates</a>
<a href="/user/buySellService">Create your order</a>
<a href="/user/currencyExchangeService">Currency exchange</a>
<a href="/user/setting">Edit your data</a>
<form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<form action="/user/data" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete account"/>
</form>
</body>
</html>