<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body>

<p>Hello! This is BitSwap cryptoExchange</p>
<p>Here you can buy or sell Crypto at the best price</p>
<p th:if="${loggedIn}">
    You are logged in as: <strong th:text="${username}"></strong><br>
    <a href="/user/data">User's personal account</a>
</p>
<p th:unless="${loggedIn}">
    <a href="/login">Log in or Create an account</a>
</p>
<p>
    <a href="/cryptoCurrencyList">Cryptocurrencies list</a>
</p>
<p>
    <a href="/aboutService">About service</a>
</p>
<p>
    <a href="/cooperation">Cooperation</a>
</p>
<p>
    <a href="/reviews">Reviews</a>
</p>
<p>
    <a href="/tariffs">Tariffs</a>
</p>
</body>
</html>