<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

</head>
<body>

<p>Hello! This is BitSwap cryptoExchange</p>
<p>Here you can buy or sell Crypto at the best price</p>
<p th:if="${loggedIn}" style="color: green;">
    You are logged in as: <strong th:text="${loggedUser}"></strong><br>
    <a href="/user/data">User's personal account</a>
</p>
<div th:if="${param.registrationSuccess}" class="alert alert-success" role="alert" style="color: green;">
    Registration was successful! Now you can log in
</div>
<div th:if="${param.deleteSuccess}" class="alert alert-success" role="alert" style="color: red;">
    Account was deleted successfully!
</div>
<p th:unless="${loggedIn}">
    <a href="/login">Log in or Create an account</a>
</p>
<p>
    <a href="/aboutService">About service</a>
</p>
<p>
    <a href="/cooperation">Cooperation</a>
</p>
<p>
    <a href="/reviews">Reviews</a>
</p>
</body>
</html>