<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Topup</title>
</head>
<body>
<label>Top up balance</label>
<form action="/user/wallet/topup" method="post">
    <input type="hidden" name="operationType" value="currencyTopup">
    <p>Choose currency to top up</p>
    <p>
        <select name="currency">
            <option value="RUB">RUB</option>
            <option value="USD">USD</option>
        </select>
        <input type="number" name="balance" step="any">
    </p>
    <input type="submit" value="Confirm"/>
</form>
<form action="/user/wallet/topup" method="post">
    <input type="hidden" name="operationType" value="cryptoCurrencyTopup">
    <p>Choose crypto currency to top up</p>
    <p>
        <select name="cryptoCurrency">
            <option value="BTC">BTC</option>
            <option value="ETH">ETH</option>
            <option value="SOL">SOL</option>
            <option value="DOGE">DOGE</option>
        </select>
        <input type="number" name="amount" step="any">
    </p>
    <div th:if="${topupCurrencySuccess}" style="color: green;">Your money wallet was successfully replenished with: <span th:text="${balanceMark}"></span> <span th:text="${currencyMark}"></span>!</div>
    <div th:if="${topupCryptoSuccess}" style="color: green;">Your crypto wallet was successfully replenished with: <span th:text="${amountMark}"></span> <span th:text="${cryptoCurrencyMark}"></span>!</div>
    <div th:if="${nullMark}" style="color: red;">At least one field must be filled</div>
    <div th:if="${wrongNumberMark}" style="color: red;">Number must be greater then 0</div>
    <input type="submit" value="Confirm"/>
</form>
<a href="/user/wallet">Your wallet</a>
<a href="/user/wallet/withdraw">Withdraw from balance</a>
<a href="/user/data">User's personal account</a>

</body>
</html>