<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Withdraw</title>
</head>
<body>
<label>Withdraw from the balance</label>
<form action="/user/wallet/withdraw" method="post">
    <input type="hidden" name="operationType" value="currencyWithdraw">
    <p>Choose currency to withdraw</p>
    <p>
        <select name="currency">
            <option value="RUB">RUB</option>
            <option value="USD">USD</option>
        </select>
        <input type="number" name="balance" step="any">
    </p>
    <input type="submit" value="Confirm"/>
</form>
<form action="/user/wallet/withdraw" method="post">
    <input type="hidden" name="operationType" value="cryptoCurrencyWithdraw">
    <p>Choose crypto currency to withdraw</p>
    <p>
        <select name="cryptoCurrency">
            <option value="BTC">BTC</option>
            <option value="ETH">ETH</option>
            <option value="SOL">SOL</option>
            <option value="DOGE">DOGE</option>
        </select>
        <input type="number" name="amount" step="any">
    </p>
    <div th:if="${withdrawCurrencySuccess}" style="color: green;">Your money wallet has been withdrawn: <span th:text="${balanceMark}"></span> <span th:text="${currencyMark}"></span>!</div>
    <div th:if="${withdrawCryptoSuccess}" style="color: green;">Your crypto wallet has been withdrawn: <span th:text="${amountMark}"></span> <span th:text="${cryptoCurrencyMark}"></span>!</div>
    <div th:if="${nullMark}" style="color: red;">At least one field must be filled</div>
    <div th:if="${wrongNumberMark}" style="color: red;">Number must be greater then 0</div>
    <div th:if="${noBalanceMark}" style="color: red;">Insufficient funds on the balance</div>
    <input type="submit" value="Confirm"/>
</form>
<a href="/user/wallet">Your wallet</a>
<a href="/user/wallet/topup">Top up balance</a>
<a href="/user/data">User's personal account</a>
</body>
</html>